[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = {extras = ["standard"], version = "*"}
jinja2 = "*"
pyyaml = "*"
feedparser = "*"
apscheduler = "*"
requests = "*"
caldav = "*"
icalendar = "*"
vobject = "*"

[dev-packages]
pylint = "*"
pytest = "*"
httpx2 = "*"

[scripts]
app = "python -m src.main"
develop = "DEVELOPMENT=1 python -m src.main"
pytest = "pytest"
pylint = "pylint src/ tests/"

[requires]
python_version = "3.14"
